#col2_content { 
    padding: 100px 0 50px 0px;
}

#col3_content {
    padding: 40px 0 50px 17px;
}

body.portaltype-folder #plone-document-byline,
body.portaltype-topic #plone-document-byline,
body.portaltype-team #plone-document-byline {
    display: none;
}

.main_content .float_left {
    float:left;
}

.main_content .float_right {
    float:right;
    clear:right;
}

.result p {
    padding-bottom: 0;
}

.result img {
    vertical-align: text-top
}

.result .documentByLine {
    display: block;
}

.add_wizard_back_arrow .ui-icon {
    position: absolute;
}
.add_wizard_back_arrow a {
    padding-left: 16px;
    line-height: 16px;
}

.pseudo_portlet_manager {
    padding-top: 1em;
    padding-bottom: 26px;
    float:left;
}

.pseudo_portlet_manager span.ui-icon{
    background-image: url("/++resource++collective.requirejs/css/ui-lightness/images/ui-icons_ffffff_256x240.png");
    float: right;
    margin-right: 12px;
}

.teamMember .ui-icon {
    display: none;    
}

.second_box, .pseudo_portlet_manager {
    padding-top: 1em;
    padding-bottom: 26px;
}
.second_box{
    padding-left: 0.5em;
}

dl.portletPseudo dd.portletItem div.result {
    background-image: None;
    height: auto;
    padding-top: auto;
    width: auto;
    padding-left: auto;
}

dl.portletPseudo dt.portletHeader {
    height: 22px;
    font-weight: bold;
}

dl.portletPseudo dd.portletItem {
    border-width: 1px;
    border-color: #B8B8B8;
    border-style: none solid;
    margin-bottom: 0px !important;
    padding: 5px 10px 0;  
}

dl.portletPseudo dt.portletHeader .project {
    color: #fff;
    padding: 0;
}
.intranet a.project{
    float: left;
}

.intranet h4 {
    font-size: 100%;
    font-weight: bold;
}
#content .intranet .portletItem ul {
    padding: 0;
    margin: 0;
}

.intranet .portletItem li {
    list-style-type: none;
    color: #004A99;
    padding: 0;
    margin: 0;
}

.intranet .portletItem li img {
    vertical-align: bottom;
}

.intranet dl.portletPseudo dd.portletItem a {
    padding-top: 0;
}

.intranet .portletPseudo {
    width: 366px;
}

#send_document{
    border-width: 1px;
    border-style: solid;
    padding: 0.6em;
    margin: 0.6em;
}

#content {
    position: relative;
}

#viewlet-above-content {
    position: relative;
}

.intranet_actions {
    position: absolute;
    left: 472px;
    top: 30px;    
    list-style: None;
    padding: 0;
    width: 150px;
}

body.template-solgemafullcalendar_view .intranet_actions {
    top: -28px;
}

.intranet_actions li {
    border: none;
    float:left;
    height: 17px;
    width: 17px;
    padding: 0;
    margin: 2px;
}

.tooltip {
    display:none;
    background:transparent url(/++resource++collective.team/images/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
    z-index:3;
}

/*
 * Pseudo-Portlets
 */

.portletPseudo  {
    width: 221px;
    margin: 0px 0px 10px 1px;
    padding: 0;
}

.pseudoPortletHeader {
    background-color: #d0e9fd;
    border: 0.1em solid #b8b8b8;
    border-bottom-style: none;
    padding: 5px 10px 1px 10px;
}

.pseudoPortletHeader h4 {
    color: #004A99;
    font-size: 12px;
    font-weight: bold;
}

.pseudoPortletBody {
    border: 0.1em solid #b8b8b8;
    border-style: none solid;
    padding: 5px 10px 0 10px;
}

.pseudoPortletFooter {
    border: 0.1em solid #b8b8b8;
    border-style: none solid solid;
    height: 12px;
}

.pseudoPortletFooter a {
    float: right;
    font-size: 80%;
    padding: 0 5px;
}

.pseudoPortletFooter a.left {
    float: left;
    font-size: 80%;
    padding: 0 10px;
}

.portletPseudo p {
    padding-bottom: 0px;
}

.portletPseudo .teamDescription {
    color: #666;
    padding-bottom: 1em;
}

#content .pseudoPortletBody ul {
    list-style-type: none;
    padding-left: 0px;
}

.pseudoPortletBody h4 {
    font-size: 100%;
    font-weight: bold;
}

/*
 * Editing Teams
 */

body.portaltype-team .formTabs {
    display: none;
}


/*
 * Modify navtree team-navigation is in a special portlet
 */
.navTreeLevel3 {
    display: none;
}

#naviList ul.navTreeLevel2 li a.navTreeItemInPath {
    font-weight: bold;
    background-image: url("++resource++collective.team/images/wissen_btn_navi_arrow_white.gif");
    background-position: 14px center;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

/*
 * Team Portlet
 */

.portletTeamPortlet .portletHeader {
    border: 1px solid #B8B8B8;
    border-style: solid solid none;
    padding: 5px 10px 1px; 
}

.portletTeamPortlet .portletHeader h4 {
    color: #FFF;
    font-size: 100%;
    font-weight: bold; 
}

.portletTeamPortlet .portletItem {
    border: 1px solid #B8B8B8;
    border-style: none solid;
    padding: 5px 5px 1px;
}

.portletTeamPortlet .portletFooter {
    border: 1px solid #B8B8B8;
    border-style: none solid solid;
    height: 12px; 
}

h4.my_projects {
    padding-top: 1em;
    font-size: 100%;
    font-weight: bold;
    color: #666;
}

ul.my_projects li {
    padding-bottom: 0.5em;
}
